nav {
	position: fixed;
	top: 0;
	width: 100%;
}

.breadcrumb {
	background-color: #515161 !important;
	border-radius: 0 !important;
}

a,
a:hover {
	color: #aebd38 !important;
}

table {
	color: #68829e;
	margin: 100px 10px;
}

thead {
	background-color: #68829e !important;
	color: white;
	cursor: pointer;
	border-bottom: none !important;
}

th {
	font-weight: normal;
}

ion-icon {
	color: #68829e;
	font-size: 24px;
}

tbody {
	display: block;
	height: 300px;
	overflow-y: scroll;
}

tbody tr:first-child td {
	border-top: none !important;
}

thead,
tbody tr {
	display: table;
	table-layout: fixed;
	width: 100%;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #515161;
}
