html,
body {
	position: relative;
	height: 100%;
	margin: 0;
	background: url(assets/images/body-bg-img.jpg) center center fixed;
	background-size: cover;
	color: #fff;
}

#body-container {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	padding: 0;
}

#header {
	text-align: center;
	font-size: 4vw;
	padding-top: 3%;
}

#totalTime {
	text-align: center;
	font-size: 6vw;
	padding-top: 3%;
}

#lap {
	text-align: center;
	font-size: 2vw;
}

#controls {
	margin-bottom: 100px;
}

.buttons {
	background-color: #d7a04e;
	height: 10vw;
	width: 10vw;
	border-radius: 100%;
	text-align: center;
	padding: 29% 0;
	font-size: 1.2vw;
	cursor: pointer;
}

.buttons:active {
	background-color: #fff;
	color: #d7a04e;
}

#laps {
	max-height: 270px;
	overflow-y: scroll;
}

.lap {
	height: 50px;
	border-bottom: 1px solid white;
	margin: 15px;
}

.lapNumber {
	font-size: 1.5em;
	float: left;
}

.lapTime {
	font-size: 2em;
	float: right;
}

.footer {
	background-color: transparent;
	font-size: 15px;
	padding: 0;
	margin-top: auto;
	color: rgba(255, 255, 255, 0.5);
	/* text-align: center; */
}

.footer p {
	margin-top: 10px;
	padding: 0;
}
