* {
	box-sizing: border-box;
}

.row img {
	max-width: 100%;
}

.column {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-template-areas:
		"a b c d"
		"e f g h"
		"i j k l"
		"m n o p";
	grid-gap: 5px;
	align-items: center;
}

.chevvy-impala {
	grid-area: f/f/k/k;
}
